.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 65px;
  padding-block: 50px;
  user-select: none;
  width: 100vw;
  top: 0px;
  position: fixed;
  z-index: 50;
  background-color: black;
  animation: adjust-header linear both;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

  .header-element, a {
    font-weight: bold;
    transition: all 0.1s ease;
    color: white;
    text-decoration: none;
    
    &:hover {
      color: var(--primary-color);
      transform: scale(1.2);
    }
  }
}

.header-container,
.header-element {
  animation-timeline: scroll();
  animation-range: 0 300px;
}

@keyframes adjust-header {
  to {
    padding-inline: 165px;
    padding-block: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
  }
}
@keyframes adjust-elemnent {
}
