@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root, body {
  height: 100%;
}

body {
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
}