.projects-section {
  position: relative;
  height: 100vh;
  margin-bottom: 100px;

  --rojo-leve: rgba(227, 27, 77, 0.3);
  --azul-leve: #00858a;
  --azul-leve: #37ab4e;

  background: rgb(227, 27, 77);
  background: linear-gradient(
    0deg,
    var(--bgc, white) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    var(--bgc, white) 100%
  );
  transition: background 0.5s ease-in-out;
  box-shadow: 0 0px 30px 30px var(--rojo-leve);
  animation: palpitateShadow 2s linear infinite alternate;
}

.projects-slider {
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-color: var(--primary-color);
  --swiper-pagination-bullet-inactive-color: var(--primary-color);

  display: flex;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 100px;
    position: relative;
    user-select: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--primary-color);
  }
}

@keyframes move {
  to {
    transform: translateX(calc(-100% + 100vw));
  }
}

@keyframes palpitateShadow {
  to {
    box-shadow: 0 -2px 30px 30px var(--rojo-leve);
  }
}
