.projects-section {
  position: relative;
  height: 100vh;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  
  --rojo-leve: #e31b4d4d;
  --azul-leve: #00858a;
  --azul-leve: #37ab4e;

  /* background: #e31b4d; */
  background: linear-gradient(
    0deg,
    var(--bgc, white) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    var(--bgc, white) 100%
  );
  box-shadow: 0 0px 30px 30px var(--bgc);
  animation: palpitateShadow 2s linear infinite alternate;
}

.projects-slider {
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 10px;

  /* height: 100%; */
  display: flex;
  gap: 30px;
  flex-direction: column;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-block: 100px; */
    position: relative;
    user-select: none;
  }

  .swiper-pagination{
    position: static;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--primary-color);
  }
}

@keyframes move {
  to {
    transform: translateX(calc(-100% + 100vw));
  }
}

@keyframes palpitateShadow {
  to {
    box-shadow: 0 -2px 30px 30px var(--bgc);
  }
}
